body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,115,223,1) 22%, rgba(0,212,255,1) 100%); 
}

.container {
  display: flex;
  justify-content: center;
}

.recipes-container {
  width:30%
}

h1 {
  text-align: center;
}

.tabs {
  margin-bottom: 15px;
}

.search-input {
  float: right;
}

.search-input .form-control {
  display: inline-block;
  width: auto;
}

.table {
  width: 50%;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

.accordion-buttons {
  padding-top: 15px;
}

.remove-button {
  margin-right: 15px;
}

.favorite-button {
  float: right;
}

.direction-container {
  border-bottom: solid 1px lightgrey;
}

.step-text {
  font-weight: bold;
  margin-bottom: 0px;
}

.add-new-recipe-button {
  float: right;
  padding-top: 15px;
}